.PortfolioBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.PortfolioImage {
    width: 50%;
    border-radius: 8px;
    border: 6px #0D1821 solid;
}

.Portfolio {
    overflow:show;
    width: 66%;
    margin:auto;
}

@media only screen and (max-width: 600px) {
    .Portfolio {
        width: 100%!important;
    }
}

.PortfolioButtonHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-top:32px;
    flex-wrap: wrap;
}